@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lighthouse {
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/BG\ Photo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  color: #000;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: inline-block;
}

.home {
  width: fit-content;
  height: fit-content;
  display: inline-block;
}
.menu-items {
  display: inline;
}
.lighthouse .contact {
  margin: 10px;
  padding: 10px;
  display: inline-block;
}

.lighthouse li {
  display: inline-block;
}
